<!-- Navigation -->
<div class="navbar navbar-default navbar-dark bg-dark navbar-expand-lg p-0">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/home']">
        <img class="company-logo" height=70 src="assets/img/logo-cut.png" alt="">
      </a>
    </div>

    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" [ngClass]="{ 'show': navbarOpen }">
      <ul class="nav navbar-nav">
        <li class="nav-item"  routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/home']">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">
          <a  [routerLink]="['/events']" class="nav-link">All Events</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">
            <a class="nav-link" [routerLink]="['/events/new']">Create Event</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a [routerLink]="['/demo']" class="nav-link" >Demo</a>
        </li>
      </ul>

      <div class="d-inline-flex nav-area">
        <form (ngSubmit)="searchSessions(searchTerm)" id="searchForm"  class="form-inline mr-sm-4">
          <div class="form-group">
            <input [(ngModel)]="searchTerm" name="searchTerm" type="text" class="form-control mr-sm-2" placeholder="Search Sessions" >
          </div>
          <button class="btn btn-outline-secondary" aaModalTrigger="searchResults">
            Search
          </button>
        </form>
        <ul class="navbar-nav">
          <li class="nav-item" routerLinkActive="active">
            <a *ngIf="!auth?.isAuthenticated()" [routerLink]="['/user/login']"  class="nav-link"> Login</a>
            <a *ngIf="auth?.isAuthenticated()" [routerLink]="['/user/profile']" class="nav-link">Hi {{auth?.currentUser?.firstName}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<aa-simple-modal closeOnBodyClick="true" elementId="searchResults" title="Matching Sessions">
  <div class="list-group">
    <a class="list-group-item" *ngFor="let session of foundSessions" [routerLink]="['/events', session.eventId]">
      {{session.name}}
    </a>
  </div>
</aa-simple-modal>

