<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h2>{{pageTitle}}</h2>

<div class="d-flex flex-row">

  <div class="col-sm col-sm-auto">
    <p>
      checking external stuff
    </p>
    <ul class="list-group list-group-flush">Libraries
        <li class="list-group-item">bootstrap (style)</li>
        <li class="list-group-item">ngx-bootstrap (js)</li>
      </ul>
  </div>

  <div class="col">
    <!--Body content-->

    <div class="card">
      <div class="card-body">
        <button type="button" class="btn">Basic</button>
        <button type="button" class="btn btn-default">Default</button>
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-link">Link</button>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
          ToolTip Button :
          <button type="button" class="btn btn-primary"
                  tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
          Button with tooltip
          </button>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
          <p>Carousel :</p>
          <carousel>
            <slide>
              <img src="assets/img/temp/1.jpg" alt="first slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="assets/img/temp/2.jpg" alt="second slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="assets/img/temp/3.jpg" alt="third slide" style="display: block; width: 100%;">
            </slide>
          </carousel>
      </div>
    </div>

    <div class="card">
        <div class="card-body">
          <div class="container">
              <div class="row">
                <div class="col-4">
                  <div class="card" style="width: 20rem;">
                    <div class="card-body">
                      <h4 class="card-title">Card title</h4>
                      <p class="card-text">Some quick example text ...</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
                <div class="col-8">
                  <h1>Example heading
                    <span class="badge badge-secondary">New</span>
                  </h1>
                </div>
              </div>
            </div>
        </div>
      </div>
</div>
</div>
</div>
