<footer class="footer-area fluid-container">
  <!-- <nav class="navbar navbar-expand-lg">
      <ul class="navbar-nav mr-auto">
          <li>
              <a  class="nav-link" >

              </a>
          </li>
      </ul>
  </nav> -->

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li ><a routerLinkActive="active" class="nav-link" [routerLink]="['/license']">License</a></li>
      </ul>
      <div class="navbar-header">
          <div class="footer-copyright">© 2018 Copyright:
            <a [routerLink]="['/home']"> Web Ninja NS</a>
          </div>
      </div>
    </div>
  </nav>


</footer>
