.footer-area {
  background: #e7e7e7;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.footer-area .copyright {
  color: #2b3046;
}

.navbar {
  padding: 0;
}

a {
  color: #97a2b0;
}
ul a:not(.btn) {
  color: #66615b;
}
ul a.active:not(.btn) {
  color: #ab9768;
}
ul a:not(.btn):hover {
  color: #000;
}
