
/* You can add global styles to this file, and also import other style files */

//NS - the bootstrap located at /node_modules/bootstrap/scss/
//I overriden styles in _appTheme and imported it here
@import "../src/scss/appTheme";




//-------MOVED ALL TO angular.cli file ----------------------
/*NS - I personally prefer to import all my styles in src/style.scss since it’s
        been declared in angular.json already. */
// @import "../node_modules/bootstrap/scss/bootstrap.scss";
// @import "~bootstrap/dist/css/bootstrap.css";

// @import "../src/scss/template-override";



.app-container {
  display: flex;
  height: 100%;
  flex-direction: column;
}
.app-main-container {
  flex: 1;
}
