a:not([href]):not([tabindex]) {
  text-decoration: underline;
  color: #a52a2a;
  cursor: pointer;
}

a:not([href]):not([tabindex]):hover {
  text-decoration: none;
}

.btn-default {
  margin: 0 10px;
  box-shadow: 0 0 0 transparent;
  background: #fafafa;
  border: 2px solid #a9a9a9;
}
.active {
  background: #ab9768;
}


